<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ورود به سامانه مدیریت حقوق و دستمزد فرزانگان</title>





    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="./css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="./css/index.css">

</head>
<body>
  
        @RenderBody()
  

    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/fontawesome.js"></script>
    <script src="./js/regular.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
